body {
    background-color: #1a1a1a; /* Fondo oscuro */
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: #2d2d2d;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    border: 2px solid #3e3e3e;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #55ff55; /* Verde tipo Minecraft */
    text-shadow: 2px 2px #000;
}

p {
    color: #aaaaaa;
    margin-bottom: 30px;
}

.btn-mega {
    display: inline-block;
    background-color: #00ff73; /* Rojo Mega */
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: transform 0.2s, background-color 0.2s;
    border-bottom: 4px solid #2ab300;
}

.btn-mega:hover {
    background-color: #18cc00;
    transform: scale(1.05);
}

.btn-mega:active {
    transform: translateY(4px);
    border-bottom: none;
}